{{ define "content" }}

  {{ $include_dict := dict "Site" .Site "page" . "img_path" .Params.img_path }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

      <article class="post page post-full">
        <header class="post-header">
          <h1 class="post-title">{{ .Params.title }}</h1>
        </header><!-- .post-header -->
        {{ if .Params.subtitle }}
        <div class="post-subtitle">
          {{ .Params.subtitle | safeHTML }}
        </div><!-- .post-subtitle -->
        {{ end }}
        <div class="post-content">
          {{ .Content }}
        </div><!-- .post-content -->

        {{if .Params.composant_cherche_et_trouve}}
          {{ partial "search_and_find.html" . }}
        {{end}}
        {{if .Params.composant_taboo}}
          {{ partial "search_and_find.html" . }}
        {{end}}
      </article><!-- .post -->

    </main><!-- .site-main -->

    {{ partial "footer.html" . }}

  </div><!-- .site-content -->

{{ end }}
