<p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="result" data-user="Jodware" data-slug-hash="WNQQEeK" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Random taboo">
    <span>See the Pen <a href="https://codepen.io/Jodware/pen/WNQQEeK">
    Random taboo</a> by Theo DIMEGLIO (<a href="https://codepen.io/Jodware">@Jodware</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>